@import "../../node_modules/antd/dist/antd";

.mxcn-resize {
    width: 100% !important;
    height: 100% !important;

    svg text {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    svg text::selection {
        background: none;
    }
}
